.radix-themes {
  --scrollarea-scrollbar-horizontal-margin-top: var(--space-1);
  --scrollarea-scrollbar-horizontal-margin-bottom: var(--space-1);
  --scrollarea-scrollbar-horizontal-margin-left: var(--space-1);
  --scrollarea-scrollbar-horizontal-margin-right: var(--space-1);
  --scrollarea-scrollbar-vertical-margin-top: var(--space-1);
  --scrollarea-scrollbar-vertical-margin-bottom: var(--space-1);
  --scrollarea-scrollbar-vertical-margin-left: var(--space-1);
  --scrollarea-scrollbar-vertical-margin-right: var(--space-1);
}

.rt-ScrollAreaRoot {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.rt-ScrollAreaViewport {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  /* Hide native scrollbars - we'll draw our own */
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &:where(:focus-visible) + :where(.rt-ScrollAreaViewportFocusRing) {
    position: absolute;
    inset: 0;
    pointer-events: none;
    outline: 2px solid var(--focus-8);
    outline-offset: -2px;
  }

  /* Stop Chrome back/forward two-finger swipe when there is a horizontal scrollbar */
  &:where(:has(.rt-ScrollAreaScrollbar[data-orientation='horizontal'])) {
    overscroll-behavior-x: contain;
  }
}

.rt-ScrollAreaViewport > * {
  display: block !important;
  width: fit-content;
  min-width: 100%;
  flex-grow: 1;
}

.rt-ScrollAreaScrollbar {
  display: flex;
  position: absolute;
  background-color: var(--gray-a3);
  border-radius: var(--scrollarea-scrollbar-border-radius);
  user-select: none;
  touch-action: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms ease-out;

  &:where([data-state='visible']) {
    opacity: 1;
    pointer-events: auto;
  }
  &:where([data-state='hidden']) {
    opacity: 0;
    pointer-events: none;
  }
  &:where([data-orientation='vertical']) {
    flex-direction: column;
    width: var(--scrollarea-scrollbar-size);
    top: var(--scrollarea-scrollbar-vertical-margin-top);
    bottom: var(--scrollarea-scrollbar-vertical-margin-bottom);
    right: var(--scrollarea-scrollbar-vertical-margin-right);
  }
  &:where([data-orientation='horizontal']) {
    flex-direction: row;
    height: var(--scrollarea-scrollbar-size);
    left: var(--scrollarea-scrollbar-horizontal-margin-left);
    right: var(--scrollarea-scrollbar-horizontal-margin-right);
    bottom: var(--scrollarea-scrollbar-horizontal-margin-bottom);
  }
}

.rt-ScrollAreaThumb {
  --scrollarea-thumb-min-size: var(--space-4);
  position: relative;
  background-color: var(--gray-a8);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  transition: background-color 100ms;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: var(--space-4);
    min-height: var(--space-4);
  }

  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--gray-a9);
    }
  }
}

.rt-ScrollAreaScrollbar:where([data-orientation='horizontal']) :where(.rt-ScrollAreaThumb) {
  width: auto;
  height: 100%;
}

.rt-ScrollAreaScrollbar:where([data-orientation='vertical']) :where(.rt-ScrollAreaThumb) {
  width: 100%;
  height: auto;
}

.rt-ScrollAreaCorner {
  position: absolute;
  right: var(--scrollarea-scrollbar-vertical-margin-right);
  bottom: var(--scrollarea-scrollbar-horizontal-margin-bottom);
  width: var(--scrollarea-scrollbar-size);
  height: var(--scrollarea-scrollbar-size);
  background-color: var(--gray-a3);
  border-radius: var(--scrollarea-scrollbar-border-radius);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-ScrollAreaScrollbar:where(.rt-r-size-1) {
  --scrollarea-scrollbar-size: var(--space-1);
  --scrollarea-scrollbar-border-radius: max(var(--radius-1), var(--radius-full));
}

.rt-ScrollAreaScrollbar:where(.rt-r-size-2) {
  --scrollarea-scrollbar-size: var(--space-2);
  --scrollarea-scrollbar-border-radius: max(var(--radius-1), var(--radius-full));
}

.rt-ScrollAreaScrollbar:where(.rt-r-size-3) {
  --scrollarea-scrollbar-size: var(--space-3);
  --scrollarea-scrollbar-border-radius: max(var(--radius-1), var(--radius-full));
}
